@layer theme, base, components, utilities;

@import 'tailwindcss/theme.css' layer(theme);
/* Omit the following line to disable Preflight: */
/* @import "tailwindcss/preflight.css" layer(base); */
@import 'tailwindcss/utilities.css' layer(utilities);

@theme {
	--color-primary: #01529f;
	--color-background: #f9fafb;
	--color-secondary: #6b7280;
	--color-border-primary: #dddddd;
	--color-light-green: rgba(10, 127, 10, 0.101);
	--color-warning-orange: #c75300;
	--color-light-orange: rgba(247, 238, 222, 0.999);
}
