[submodule "packages/frontend/albertsons"]
	path = packages/frontend/albertsons
	url = git@github.com:ditinexhosting/albertsons.git
[submodule "packages/frontend/--force"]
	path = packages/frontend/--force
	url = git@github.com:ditinexhosting/albertsons.git
	branch = main
